* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    background-color: #1A2238;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 8px; 
    background-color:#FFFFFF; 
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    top: 0;
    background-size: cover;
    background-attachment: fixed; 
    background-position: 100%;  
    align-items: center;
}

header img {
    justify-content: left;
    width: 15%;
    height: 15%;
}
/* timer */
main h2 {
    text-align: right;
    color: #FF6A3D;
    font-size: medium;
}
/* question content section */
section {
    color: #FFFFFF;
    display: block;
    padding: 10%;
    width: 60%;
    margin: 10px auto;
    align-content: center;
    background-color: rgba(30, 153, 184, 0.63);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0, 0, 10px, 2px;
}

.btn {
    display: block;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: rgba(177, 188, 206, 0.397);
    align-content: center;
    text-align: center;
    justify-content: space-between;
    margin: 10px auto;
    width: 70%;
    color: #FFFFFF;
}

.btn:hover {
    background-color: rgb(1, 20, 20);
}
.questions {
    font-size: 3vw;
    text-align: center;
    margin-top: 0;
}

.player-label {
    padding: 5px; 
    font-size: 25px ;
}

.player-input {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px 8px;
    border: 1px solid black; 
    font-size: 16px;
    height: 35px;

}

.hide {
    display: none;
}